@charset "UTF-8";

#main {
  background-color: black;
  width: 1024px;
  height: 704px;
}

#map {
  float: left;
  background-color: red;
  width: 768px;
  height: 704px;
  var map=new google.maps.Map(
       document.getElementById('map'),
       options
    );
}

#info {
  float: right;
  background-color: blue;
  width: 256px;
  height: 704px;
}


