  <div data-role="header" id="header">
    <%= link_to_btn "Menu", "#menu_panel", class: ['ui-btn', 'ui-btn-inline', 'ui-icon-bars', 'ui-btn-icon-notext'] %>
    <h1><%= full_title(yield(:title)) %></h1>
  </div><!-- /header -->