<!DOCTYPE html>
<html>
<head>
  <title>FieldNote</title>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="jquery.carouFredSel-6.2.1-packed.js"></script>
  <script type="text/javascript">
	$(function(){
		$("#thumbNails").carouFredSel();
	});
</script>




  
  <style>
     #main {
     	background-color: red;
    	width: 1325px;
        height: 480px;
    }

    #map {
    	float: left;
       width: 70%;
       height: 100%;

    }
    #info {
    	overflow: auto;
    	float: right;
	  background-color: rgb(255,255,255);
	  
	  width: 30%;
  	  height: 100%;
	}
	#list {
		
/*		overflow-x: scroll;
		overflow-y: hidden; */
		width: 1325px;
		height: 130px;

	}
	.thumb-wrapper {
    margin:20px;
    padding: 10px;
    background-color:#ddd;
    width:1325px;
    height: 130px;
    overflow:hidden;
    }
    
    
    </style>
</head>
<body>
	
<%= yield %>

</body>
</html>
