<!DOCTYPE html>
<html>
<head>
  <title>FieldNote</title>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>


  
  <style>
     #main {
     	background-color: red;
    	width: 1156px;
       height: 500px;
    }

    #map {
    	float: left;
       width: 80%;
       height: 100%;

    }
    #info {
    	float: right;
	  background-color: green;
	  
	  width: 20%;
  	  height: 100%;

	}
    
    
    </style>
</head>
<body>
	
<%= yield %>

</body>
</html>
